.vditor--typewriter {
  .vditor-ir pre.vditor-reset,
  .vditor-wysiwyg pre.vditor-reset {
    padding-top: 50vh;
    padding-bottom: 50vh;
    scroll-padding-top: 50vh;
    scroll-padding-bottom: 50vh;
  }
}
